.hero-section {
  background-image: url(../../assets/image/hero-bg-img.png);
  background-repeat: no-repeat;
  background-position: right;
  padding: 260px 0 356px;
  position: relative; // Blur effekti uchun asos bo‘ladi

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    //   background: rgba(255, 255, 255, 0.5);
    //   backdrop-filter: blur(10px);
    z-index: 1;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative; // Overlaydan ustun qilish uchun
    z-index: 2;
  }

  &__button {
    display: inline-block;
    padding: 8px 40px;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    border-radius: 2px;
    transition: all 0.3s ease-in-out;
    background-color: transparent;
    color: #111b47;
    border: 2px solid #111b47;

    &:hover {
      background-color: #111b47;
      color: #fff;
    }
  }

  &__left-box {
    max-width: 540px;
  }

  &__btn-box {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-top: 69px;
  }

  @media (max-width: 1260px) {
    background-position: center;
    background-size: cover;

    &::before {
      backdrop-filter: blur(5px);
    }
  }
  @media (max-width: 800px) {
    padding: 120px 0 256px;
    background-size: cover;
    background-position: center;

    &__button {
      padding: 6px 28px;
      font-size: 15px;
      font-weight: 400;
    }
  }
  @media (max-width: 600px) {
    padding: 120px 0 166px;
    &::before {
      background: #ffffff6b;
    }
    &__btn-box {
      margin-top: 20px;
      flex-direction: column;
      gap: 10px;
      button {
        width: 100% !important;
      }
    }
  }
}
